{% extends 'layout.html' %}
{% block body %}
    {% include 'nav.html' %}
    <div class="container-fluid">
        <h1 class="heading">{{movie|length}} Results for {{key_word}}</h1>
        <div class="slider">
            <div class="contain">
                <div class="row">
                    <div class="row__inner">
                        <table>
                            {% for i in movie %}
                            <td>
                                <div class = 'tile'>
                                    <a href="/detail/{{i.id}}">
                                        <img class = 'img-fluid' src="{{i.poster}}"
                                        alt="image not load"/>
                                        <div class="tile_details">
                                            <div class="tile_title">
                                                {{i.title}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}